.bg-1 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include tablet {
    background-attachment: scroll;
  }
}

.bg-2 {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  @include tablet {
    background-attachment: scroll;
  }
}

.bg-3 {
  background-size: cover;
  background-position: center center;
  // background-color: rgba(0,0,255,0.5);
  background-attachment: fixed;
  p {
    // color: #8d8f92;
    color: black;
    margin-bottom: 20px;
  }

  @include tablet {
    background-attachment: scroll;
  }
}
